/* Base Styles */
.form-container {
  font-family: Arial, sans-serif;
  background-image: url('/src/Assest/Intro\ \(5\)\ \(1\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding and border in total width/height */
}

.form-header {
  margin-bottom: 20px;
  display: flex;
 
}

.logo {
  width: 40px;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.9rem;
  color: black;
  margin-bottom: 20px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  color: black;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 500;
}

input {
  padding: 8px;
  font-size: 0.9rem;
  border: none;
  border-bottom: 2px solid black;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #6c63ff;
  outline: none;
}

.form-button {
  background-color: rgba(128, 130, 133, 0.04);
  color: black;
  font-size: 1rem;
  width: 70px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 35px;
  height: 35px;
  margin: 10px;
}

.form-button:hover {
  background-color: #574bd6;
}

.lastow {
  align-items: center;
 
  display: flex;
  gap: 10px;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}

.form-buttons {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* Media Queries */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }

  .h1 {
    font-size: 1.5rem;
  }

  .form-row {
    flex-direction: column; /* Stack form fields vertically */
    gap: 20px;
  }

  .form-button {
    width: 100px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  .form-group input {
    font-size: 0.85rem;
    padding: 6px;
  }

  .form-button {
    font-size: 0.9rem;
    width: 80px;
    height: 35px;
  }

  .form-buttons {
    font-size: 0.9rem;
  }
}
